/*************** Default Styles ******************************************/

/*************** Header **************************************************/

/* nav bar */
ul.title-area {
padding-left: 15px;
}

.top-bar {
height:75px;
padding-top:15px;
}

.top-bar .title-area {
height:75px;
}

.top-bar, 
.top-bar.expanded, 
.top-bar.expanded .title-area,
.top-bar-section li:not(.has-form) a:not(.button) {
background-color: #007095;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
background-color: #035773!important;
}

.top-bar-section > ul {
background-color: #007095;
}

.top-bar-section ul li {
    background: none;
}

.top-bar-section > ul > .divider {
border-right: dotted 1px #FFFFFF;
}

div.logo {
background: url('../img/bgcoll-logo.png') no-repeat left top;
height:254px; /* reserve space */
}

/* header: filter + filter on panel */
.filterSelected, 
#filterPanel,
.top-bar-section li:not(.has-form) a.filterSelected {
color:#fff;
background-color:#035773;
}

#filterPanel:hover {
background-color:#008CBA!important;
}

.top-bar.expanded .toggle-topbar a span {
-webkit-box-shadow: none;
box-shadow: none;
color:#fff
}

nav a:hover {
color:#FFFFFF;
background-color:#043747!important;
}

nav a, nav h1 {
color:#FFFFFF;
}

#aboutLink {
margin-left: 20px;
}

/*************** Footer **************************************************/

footer {
border-top: solid 1px #DED9D9;
background-color:#007095;
min-height:150px;
}
footer > div {
/*background: url('../img/bgcoll-logo-w.png') no-repeat left top;*/
color:#efefef;
padding: 24px 0 10px;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
max-width: 62.5em;
min-height:150px;
}


footer a:hover {
color:#FFFFFF;
background-color:#043747!important;
}

footer a {
color:#FFFFFF;
}

/*************** General *************************************************/

body *, .accordion dd > a, .top-bar-section ul li > a, button, .button {
/*font-family: Tahoma, Verdana, Segoe, sans-serif;*/
/*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

/* About page Modal */
#about > .row:first-child {
background: url('../img/bgcoll-logo.png') no-repeat right top;
}

i.switcher {
cursor: pointer;
}

.invisible {
display:none;
}

.panel.callout {
background-color: #efefef;
border-color: #879cc6;
}

.headerRow {
display:none
}

.itemRow {
padding-bottom: 10px;
}

/* set a min-height for tocModal to give our preloader decent room */
#tocModal {
min-height: 110px;
}

#tocAlertText {
font-size: 1rem;
padding-right: 50px;
}

.close-reveal-modal, .reveal-modal .close-reveal-modal {
font-size: 2rem;
color:#fff;
z-index:99;
}

/* sticky basket */
#stickyBasket {
position:fixed;
z-index:99;
bottom: 50px;
right: 50px;
}

.preloader {
margin-top: 120px;
/* some stuff copied from old Foundation Version 
   preloader moved to .slideshow-wrapper in official release 5.4, see https://github.com/zurb/foundation/commit/5d9cd17aa555437b8346b800f9cff12ae6fb782b 
   but we like generic */
display: block;
width: 40px;
height: 40px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -20px;
margin-left: -20px;
border: solid 3px;
border-color: #555555 white;
-webkit-border-radius: 1000px;
border-radius: 1000px;
-webkit-animation-name: rotate;
-webkit-animation-duration: 1.5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: rotate;
-moz-animation-duration: 1.5s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-o-animation-name: rotate;
-o-animation-duration: 1.5s;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;
animation-name: rotate;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: linear; 
}

.toc.preloader {
width: 80px;
height: 80px;
top: 5%;
}


/*************** Orbit image slider **************************************/

.orbit-bullets { display: none; }

.orbit-container, .slideshow-wrapper .orbit-container {
background-color: rgba(51,51,51,0.8)
}

/* hide images until orbit has loaded to avoid stacking (graceful loading) */
.slideshow-wrapper img { display: none; }

/* center image */
.orbit-container img {
margin: 0 auto
}

.orbit-caption {
text-align: center;
}

/*************** Journal (Cover) List : GENERAL **************************/

.getTOC { 
cursor: pointer;
}

img.getTOC {
height: 254px;
width: 170px;
}


.fresh {
color: #077dac;
font-size: smaller;
}

/** Search box **/

#search {
height: 35px;
}
#search-form fieldset {
background-color: aliceblue;
}


/*************** old code: Journal (Cover) List : LIST (ACCORDION) *****************/

/*dl.accordion dd.active a.item_name {*/
/*background-color:#fff;*/
/*}*/
/*dl.accordion dd.active a.item_add {*/
/*background-color:#007095;*/
/*}*/

/*dl.accordion dd.active .item_added, dl.accordion dd.active .item_added:hover, .item_added, .item_added:hover {*/
/*background: #43ac41!important;*/
/*}*/

/*.accordion dd {*/
/*border-top: solid 1px #879CC6;*/
/*}*/

/*[> E-Mail library notification button on errors <]*/
/*dl.accordion a.button {*/
/*background-color: #008CBA!important;*/
/*}*/
/*dl.accordion a.button:hover {*/
/*background-color: #007095!important;*/
/*}*/

/*dl.accordion a.close {*/
/*background:none;*/
/*}*/


/*************** Journal (Cover) List : GRID / LIST ****************************/

/* ===== GRID VIEW ===== */

div#journalList.gridview > div.listitem {
  display: inline-block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
  position: relative;
}

/*foundation small-12*/
@media only screen {
  div#journalList.gridview > div.listitem { width: 100%; }
}

/*foundation medium-6*/
@media only screen and (min-width: 40.063em) {
  div#journalList.gridview > div.listitem { width: 50% }
}

/*foundation large-4*/
@media only screen and (min-width: 64.063em) {
  div#journalList.gridview > div.listitem { width: 33.33333%; }
}

div#journalList.gridview > div.listitem > div.metaInfo {
  display: inline-block;
  bottom: 130px;
  padding-left: 10px;
  padding-right: 0.9375rem;
  position: absolute;
}

div#journalList.gridview > div.listitem > div.metaInfo > .button {
  background-color: #CFCFCF;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 0.8125rem;
  border-radius: 3px;
}

div#journalList.gridview > div.listitem > div.title {
  height: 110px;
  /*mixin panel*/
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
}

/*this mimics foundations <i class="fi-burst-new"></i>*/
/*and requires foundation-icons font to be defined elsewhere*/
div#journalList.gridview > div.listitem.new::after {
  content: "\f121";
  font-family: "foundation-icons";
  font-size: 50px;
  color: #077dac;
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  left: 200px;
  top: 0px;
  z-index: 10;
}

/* ===== LIST VIEW ===== */
div#journalList.listview > div.listitem {
  display: block;
  width: 100%;
  position: relative;

  /*mixin panel*/
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 0.25rem;
  background: #f2f2f2;
}

div#journalList.listview > div.listitem > img {
  display: none;
}

div#journalList.listview > div.listitem > div.metaInfo {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  z-index: 5;
}

div#journalList.listview > div.listitem > div.metaInfo > .button {
  background-color: #CFCFCF;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 0.8125rem;
  border-radius: 3px;
}

div#journalList.listview > div.listitem > div.title {
  display: inline-block;
  padding: 0;
}

div#journalList.listview > div.listitem > div.title > h5 {
  display: inline-block;
  padding: 0 0 0 3rem;
  line-height: 1.4;
  margin: 0;
}

div#journalList.listview > div.listitem > div.title > span.subheader {
  display: inline-block;
  padding: 0 1rem;
}

/*invisible spacer to prevent the metaInfo buttons from moving over the subheader*/
/*FIXME: the 20rem width is not adjusted to the buttons actually present...*/
div#journalList.listview > div.listitem > div.metaInfo + div.title::after {
  display: inline-block;
  width: 20rem;
  height: 2.5rem;
  vertical-align: middle;
  content: "";
}

/*this mimics foundations <i class="fi-burst-new"></i>*/
/*and requires foundation-icons font to be defined elsewhere*/
div#journalList.listview > div.listitem.new::after {
  content: "\f121";
  font-family: "foundation-icons";
  color: #077dac;
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  left: 0.25rem;
  top: -0.25rem;
  z-index: 100;
}

/*scale down the "new" icon on small screens*/
/*foundation small*/
@media only screen {
  div#journalList.listview > div.listitem.new::after { font-size: 2.5rem; }
}

/*foundation medium and up*/
@media only screen and (min-width: 40.063em) {
  div#journalList.listview > div.listitem.new::after { font-size: 3rem; }
}


/*old code*/
/* click history: grid */
#journalList .fi-paperclip.large {
position: absolute;
z-index:2;
font-size: 40pt;
margin-left: -18px;
margin-top: -18px;
color: #dbd417;
}


/*************** Display TOC *********************************************/

#fillTOC h6 {
color:#3E9C12;
font-weight:bold;
}

.simpleCart_shelfItem {
border-bottom: dotted 1px #d6d2d2;
}

.simpleCart_shelfItem .columns.textbox {
min-height: 90px;
}

/* buttons */
.simpleCart_shelfItem .columns.buttonbox {
min-height: 90px;
text-align:right;
}

.simpleCart_shelfItem .columns {
line-height:90px;
}

.tocItem .columns.textbox {
min-height: 90px;
}

/* buttons */
.tocItem .columns.buttonbox {
min-height: 90px;
text-align:right;
}

.tocItem .columns {
line-height:90px;
}
.toctitle a, .toctitle span, .abstract span {
display:inline-block;
line-height:normal;
vertical-align:middle;
}

#fillTOC a.abstract {
background-color:#2F334D!important;
}

#fillTOC a.disabled {
background-color:#FFFFFF!important;
}


/* special for Orbit */
#TOCbox h4, #TOCbox h5 {
display:inline;
}

/*************** iframe TOC & Links **************************************/
iframe {
    border: 1px solid  #879cc6;
    outline: 0;
}

#externalPopover h3 {margin-top: 1.5rem;}
#externalPopover .close-reveal-modal
                    {right: 1.6875rem}
#externalPopover #frameBack
                    {position: absolute; right: 9.5rem; top: 2.2rem;}
#externalFrame      {width: 100%; height: 100%;}


/*************** Shopping Bag ********************************************/

#shelfIsEmpty {
font-size:larger;
color: red;
}

.simpleCart_items{
padding-bottom: 20px;
}

.item-remove {
padding-top: 15px;
padding-bottom: 20px;
}

.simpleCart_remove {
color:#ffffff;
background-color:#f04124;
padding:3px;
}

.simpleCart_remove:hover {
color:#ffffff;
background-color:#f04124;
padding:3px;
}

/* confirm Delete */
div#emptyConfirm a#emptyCartButton, a#emptyCart, a#DoNotemptyCartButton {
font-size: 2em;
color:#fff;
position:relative;
}

/*************** Checkout ************************************************/

#actions a {
/*margin:20px;*/
display: block;
}

#actions a.close {
margin:0;
margin-top: -0.6875rem!important;
}

.columns.print {
text-align: right;
font-size: x-large;
}

input.submit {
background: #43AC41!important;
}

input.submit:hover {
background: #2A9828!important;
}

#mailForm div {
padding-bottom: 15px;
}

.sendArticlesToUser, .sendArticlesToLib {
display: none;
}

.sendArticlesToUser label {
font-size: larger;
}


/*************** Tagcloud ************************************************/

.tagcloud1 a, .tagcloud1 {font-size: 0.8em; color: #563E0B;}
.tagcloud2 a, .tagcloud2 {font-size: 0.85em; color: #0A2E36;}
.tagcloud3 a, .tagcloud3 {font-size: 0.875em; color: #99C228;}
.tagcloud4 a, .tagcloud4 {font-size: 0.975em; color: #332942;}
.tagcloud5 a, .tagcloud5 {font-size: 1.1em; color: #708084;}

/*************** Metainfo ************************************************/

#fillTOC .metaInfo {
position: relative;
}

#fillTOC .metaInfo .button {
background-color: #CFCFCF;
width: 150px;
margin-right:20px;
}

.listitem .fi-dislike {color: red;}
.listitem .fi-like {color: green;}


/*************** Animations & Transitions ********************************/
/* Glowing Basket */

#myArticles.full {
    display: inline;
    padding: 8px;
    color: white;
    background-color: #749a02; 
    -webkit-border-radius:6px;
    -webkit-animation: glow 2s infinite;
		border-radius:6px;
		animation: glow 2s infinite;
}

@-webkit-keyframes glow {
    0% { 
        background-color: #749a02; 
        -webkit-box-shadow: 0 0 9px #ccc; 
    }
    50% { 
        background-color: #91bd09; 
        -webkit-box-shadow: 0 0 18px #91bd09; 
    }
    100% { 
        background-color: #749a02; 
        -webkit-box-shadow: 0 0 9px #ccc; 
    }
}

@keyframes glow {
    0% { 
        background-color: #749a02; 
        box-shadow: 0 0 9px #ccc; 
    }
    50% { 
        background-color: #91bd09; 
        box-shadow: 0 0 18px #91bd09; 
    }
    100% { 
        background-color: #749a02; 
        box-shadow: 0 0 9px #ccc; 
    }
}

/* End Glowing Basket */

