# Changes in these folder/files should reasonably never be tracked/pushed
admin/.htaccess
admin/update/history/*
data/*
config.php

# Some exclusions, so the folders always are created, even if initally empty
!*.gitkeep
!admin/upgrade/versions/.gitkeep
!data/cache/.gitkeep
!data/cache/config-default.php
!data/covers/.gitkeep
!data/export/.gitkeep
!data/journals/backup/.gitkeep
!data/upgraded/.gitkeep
!doc/jt-documentation.chm
!doc/jt-doxygen.conf

# Three example files, so JournalTouch runs out-of-the-box
# Hint: Uncomment if you do any updates on these files
#!data/journals/journals.csv
#!data/journals/tag-remap.txt
#!data/journals/updates.json.txt
